/* COMMON STYLES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@font-face {
  font-family: "Raleway";
  font-weight: 300;
  src: url("../fonts/Raleway/RalewayLight.eot?") format("eot"), url("../fonts/Raleway/RalewayLight.woff2") format("woff2"), url("../fonts/Raleway/RalewayLight.woff") format("woff"), url("../fonts/Raleway/RalewayLight.ttf") format("truetype"), url("../fonts/Raleway/RalewayLight.svg#Raleway") format("svg"); }
@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url("../fonts/Raleway/RalewayRegular.eot?") format("eot"), url("../fonts/Raleway/RalewayRegular.woff2") format("woff2"), url("../fonts/Raleway/RalewayRegular.woff") format("woff"), url("../fonts/Raleway/RalewayRegular.ttf") format("truetype"), url("../fonts/Raleway/RalewayRegular.svg#Raleway") format("svg"); }
@font-face {
  font-family: "Raleway";
  font-weight: 500;
  src: url("../fonts/Raleway/RalewayMedium.eot?") format("eot"), url("../fonts/Raleway/RalewayMedium.woff2") format("woff2"), url("../fonts/Raleway/RalewayMedium.woff") format("woff"), url("../fonts/Raleway/RalewayMedium.ttf") format("truetype"), url("../fonts/Raleway/RalewayMedium.svg#Raleway") format("svg"); }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?fd1lyz");
  src: url("../fonts/icomoon/icomoon.eot?fd1lyz#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?fd1lyz") format("truetype"), url("../fonts/icomoon/icomoon.woff?fd1lyz") format("woff"), url("../fonts/icomoon/icomoon.svg?fd1lyz#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-instagram:before {
  content: "\e900"; }

.icon-vk:before {
  content: "\e901"; }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font: normal 16px/1.7 "Raleway", sans-serif;
  width: 100%;
  overflow-x: hidden; }

body {
  font-size: 1rem;
  font-weight: normal;
  color: rgba(66, 88, 100, 0.7);
  min-width: 320px;
  position: relative;
  background-color: white; }

header, footer, section {
  margin: 0;
  padding: 0;
  background-color: whitesmoke; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

h1 {
  font-size: 2.2rem; }

h2 {
  font-size: 1.9rem; }

p {
  font-size: 1.3rem;
  font-weight: 500; }

a, button {
  outline: 0 !important;
  color: rgba(255, 255, 255, 0.7);
  transition: color .3s; }

a:hover,
a:active {
  color: rgba(66, 88, 100, 0.7); }

ul {
  list-style-type: none;
  padding: .9rem 0;
  margin: 0; }

li {
  display: inline-block;
  margin-right: 1rem; }

.hidden {
  display: none; }

.desktop {
  disply: block; }

.tablet {
  display: none; }

.white-text {
  color: rgba(255, 255, 255, 0.7); }

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 990px;
  width: 90%; }

.wrapper:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.center-text-wrapper {
  display: block;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  padding: 2rem 0 2rem; }

.vcenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.btn {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: #8cbeb3;
  text-decoration: none;
  text-align: center;
  padding: .6rem;
  width: 90%;
  max-width: 380px;
  border-radius: 5px;
  margin: 2rem 0 2rem;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.8);
  transition: box-shadow 300ms; }
  .btn:hover {
    color: rgba(255, 255, 255, 0.7);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5); }
  .btn:active {
    color: rgba(255, 255, 255, 0.7);
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.8);
    transition: box-shadow 100ms; }

.bg-img, footer .cofe.arm, footer .cofe.sleeve, footer .cake.arm, .page-studio .head-row .logo, .page-studio .head-row .arm, .page-studio .head-row .sleeve, .page-studio .services .arm, .page-studio .services .sleeve, .page-studio .prices .arm, .page-studio .prices .sleeve, .page-portfolio header .arm {
  display: block;
  position: absolute;
  background-size: contain !important; }

.logo {
  z-index: 3; }

.arm {
  z-index: 2; }

.sleeve {
  z-index: 1; }

.head-row {
  min-height: 420px; }
  .head-row .head-text {
    position: absolute;
    top: 50%;
    left: 0;
    max-width: 330px;
    transform: translate(0, -50%); }
  .head-row h1 {
    color: white;
    margin: 0;
    padding: 0; }

.head-nav ul {
  padding: 1.1rem 0; }
.head-nav a {
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: none; }
.head-nav li.active a {
  color: rgba(66, 88, 100, 0.7); }

footer {
  overflow: hidden; }
  footer a {
    text-decoration: none; }
  footer h2 {
    color: white; }
  footer .adress {
    padding-top: 0.5em;
    margin: 0; }
  footer .social {
    font-size: 2.5em;
    margin: 0; }
    footer .social a {
      color: rgba(66, 88, 100, 0.7); }
    footer .social a:hover {
      color: rgba(255, 255, 255, 0.7); }
  footer .cofe.arm {
    background: url("../img/arm/cofe-arm.png") right bottom no-repeat;
    bottom: 25%;
    right: -10%;
    height: 100%;
    width: 30%; }
  footer .cofe.sleeve {
    background: url("../img/arm/cofe-sleeve.png") left bottom repeat-x;
    bottom: 143px;
    left: 110%;
    height: 162px;
    width: 500%; }
  footer .cake.arm {
    background: url("../img/arm/cake-arm.png") left bottom no-repeat;
    bottom: -10%;
    left: 0;
    height: 100%;
    width: 20%;
    max-width: 170px; }

/* MAGICWALL STYLES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.magicwall {
  position: relative;
  display: block;
  height: 600px;
  width: 100%;
  max-width: 800px;
  margin: -1rem auto 0; }

.tablet .magicwall {
  height: 480px;
  max-width: 640px; }

.magicwall.magicwall-loading:before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  background: url("../img/magicwall/loading.gif") center center no-repeat rgba(200, 200, 200, 0.05);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.magicwall .magicwall-grid {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  list-style: none;
  font-size: 0;
  background: #000; }

.magicwall .magicwall-grid > li {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0; }

.magicwall .magicwall-grid > li > .magicwall-wrap {
  display: inline-block;
  width: 100%;
  height: 100%; }

.magicwall .magicwall-grid > li > .magicwall-wrap > .magicwall-thumb {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

.magicwall .magicwall-grid > li.magicwall-loading > .magicwall-wrap:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  background: url("../img/magicwall/loading.gif") center center no-repeat rgba(200, 200, 200, 0.05);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.magicwall .magicwall-grid {
  background-color: transparent; }

.tablet .magicwall .magicwall-grid {
  background-color: transparent; }

.magicwall li .hover-content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  text-align: center;
  color: #fff;
  transition: opacity 150ms ease-out; }

.magicwall li:hover .hover-content {
  opacity: 1; }

.magicwall li .hover-content .btn {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 80%;
  transform: translateY(-50%);
  font-size: 1rem;
  margin: 0;
  padding: 0.3rem 0; }

.magicwall li a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9; }

.magicwall li a img {
  display: none; }

/* STUDIO STYLES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.page-studio h2 {
  color: rgba(37, 130, 130, 0.8); }
.page-studio nav, .page-studio footer {
  background-color: #8cbeb3; }
.page-studio .head-row h1 {
  display: none; }
.page-studio .head-row .logo {
  background: url("../img/logo.svg") left center no-repeat;
  left: 0;
  height: 100%;
  width: 330px; }
.page-studio .head-row .arm {
  background: url("../img/arm/lamp-arm.png") right center no-repeat;
  right: -5%;
  height: 100%;
  width: 500px; }
.page-studio .head-row .sleeve {
  background: url("../img/arm/lamp-sleeve.png") left center repeat-x;
  left: 105%;
  top: 237px;
  height: 68px;
  width: 500%; }
.page-studio .services {
  background-color: rgba(140, 190, 179, 0.4); }
  .page-studio .services .arm {
    background: url("../img/arm/studio-services-arm.png") left top no-repeat;
    left: -2%;
    top: 5%;
    height: 100%;
    width: 20%;
    max-width: 150px; }
  .page-studio .services .sleeve {
    background: url("../img/arm/studio-services-sleeve.png") left top repeat-y;
    top: 0;
    left: -2%;
    height: 5%;
    width: 20%;
    max-width: 150px; }
.page-studio .portfolio .btn {
  background-color: #7ab1d6; }
.page-studio .portfolio .magicwall-grid,
.page-studio .portfolio .magicwall li .hover-content {
  background-color: #9dc8be; }
.page-studio .portfolio .magicwall li .hover-content .btn {
  background: #258282; }
.page-studio .prices {
  background-color: rgba(252, 226, 194, 0.8); }
  .page-studio .prices .arm {
    background: url("../img/arm/studio-prices-arm.png") right bottom no-repeat;
    bottom: 5%;
    right: -2%;
    height: 100%;
    width: 20%;
    max-width: 150px; }
  .page-studio .prices .sleeve {
    background: url("../img/arm/studio-prices-sleeve.png") right bottom repeat-y;
    bottom: 0;
    right: -2%;
    height: 6%;
    width: 20%;
    max-width: 150px; }
  .page-studio .prices .btn {
    background-color: #258282; }
.page-studio .promo .btn {
  background-color: #e27584; }

/* PORTFOLIO STYLES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.page-portfolio header, .page-portfolio footer {
  background-color: #e27584; }
.page-portfolio .btn {
  background-color: #e27584; }
.page-portfolio header .arm {
  background: url("../img/arm/point-arm.png") right top no-repeat;
  right: 0;
  top: 0;
  height: 100%;
  width: 30%;
  max-width: 330px; }
.page-portfolio section h2 {
  color: rgba(226, 117, 132, 0.8); }
.page-portfolio section .portfolio-text-wrapper {
  padding: 2rem 0;
  min-height: 200px;
  width: 60%;
  margin-left: 40%;
  text-align: center; }
  .page-portfolio section .portfolio-text-wrapper p {
    text-align: left; }
.page-portfolio section .outer {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  height: 100%;
  width: 35%;
  max-width: 300px; }
.page-portfolio section:nth-child(odd) {
  background-color: #e8e8e8; }
  .page-portfolio section:nth-child(odd) .portfolio-text-wrapper {
    margin-left: 0; }
  .page-portfolio section:nth-child(odd) .outer {
    left: auto;
    right: 0; }
.page-portfolio .magicwall {
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%; }

/* MEDIA STYLES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width: 900px) {
  html {
    font-size: 14px; }

  .page-studio .head-row .arm {
    left: 350px; }
  .page-studio .head-row .sleeve {
    left: 850px; } }
@media only screen and (max-width: 655px) {
  html {
    font-size: 12px; }

  .desktop {
    display: none; }

  .tablet {
    display: block; }

  .head-row {
    min-height: 200px; }
    .head-row .head-text {
      max-width: 100%;
      width: 100%;
      text-align: center; }

  i.arm, i.sleeve {
    display: none !important; }

  .page-studio .logo {
    max-width: 250px; }

  .head-nav ul {
    text-align: center; }

  .center-text-wrapper {
    margin-left: 5%;
    width: 90%; } }

/*# sourceMappingURL=styles.css.map */
