/* COMMON STYLES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@include font-face ("Raleway", "../fonts/Raleway/RalewayLight", 300);
@include font-face ("Raleway", "../fonts/Raleway/RalewayRegular", 400);
@include font-face ("Raleway", "../fonts/Raleway/RalewayMedium", 500);
//@include font-face ("Raleway", "../fonts/Raleway/RalewayBold", 500);


// ИКОНКИ ICOMOON
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?y52zys');
  src:  url('../fonts/icomoon/icomoon.eot?y52zys#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?y52zys') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?y52zys') format('woff'),
    url('../fonts/icomoon/icomoon.svg?y52zys#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e90c";
}
.icon-vk:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e906";
}
.icon-pause:before {
  content: "\e901";
}
.icon-stop:before {
  content: "\e902";
}
.icon-play:before {
  content: "\e903";
}
.icon-prev:before {
  content: "\e904";
}
.icon-next:before {
  content: "\e905";
}



// ОБЩИЕ ДЛЯ ВСЕХ СТРАНИЦ СТИЛИ (ТЕГИ)
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font: normal 16px/1.7 "Raleway", sans-serif;
  width: 100%;
}

body {
  font-size: 1rem;
  font-weight: normal;
  color: $clBlackText;
  min-width: 320px;
  position: relative;
  background-color: white;
  overflow-x: hidden;
  &.opened-modal {
    overflow: hidden;
  }
}

header, footer, section {
  margin: 0;
  padding: 0;
  background-color: $bgPageGray;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 2.2rem;
}

h2 {
 font-size: 1.9rem; 
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1.3rem;
  font-weight: 500;
}

a, button {
  outline: 0 !important;
  color: $clWhiteText;
  transition: color .3s;
}

a:hover,
a:active {
  color: $clBlackText;
}


ul {
  list-style-type: none;
  padding: .9rem 0;
  margin: 0;
}


li {
  display: inline-block;
  margin-right: 1rem;
}


// ОБЩИЕ ДЛЯ ВСЕХ СТРАНИЦ СТИЛИ (КЛАССЫ)
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 

// прячет элемент
.hidden {
  display: none; 
}

.desktop {
  display: block;
}

.tablet {
  display: none;
}

.clear-fix {
  clear: both;
}

.white-text {
  color: $clWhiteText;
}

// основной контейнер 
// задает ширину для всех страниц
.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 990px;
  width: 90%;
  //background-color: lightGray;
}

.wrapper:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


// вспомогательный контейнер
// выравнивает содержимое по центру 
.text-wrapper {
    display: block;
    margin: 0 auto;
    width: 60%;
    text-align: center;
    padding: 2rem 0;
}


// выравнивает содержимое по вертикали 
// по центру радительского элемента
.vcenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);  
}


// темный полупрозрачный слой
.overlay {
  width: 100%;
  height: 100%;

  background-color: rgba(black, .95);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  display: none;

  .presswall {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url($pathPresswall) repeat;
    background-size: 150px;
    background-position: -75px -75px;
    opacity: 0.05;
  }

}

// общие свойства всех модальных окон
.modal {
  box-sizing: border-box;
  padding: 0;
  //padding-left: 18px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  color: $clWhiteText;
  
  display: none;
  
  .mbtn {
    position: absolute;
    transition: color 300ms;
    cursor: pointer;
  }

  .mbtn:hover {
    color: white;
  }
  
  .close-modal {
    top: .5rem;
    right: 1rem;
    z-index: 10;
  }
}

.modal-map {
  position: relative;
  left: 0;
  right: 0;
  width: 80%;
  height: 80%;
  margin: auto;
}

.btn {
  color: $clWhiteText;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: $logoGreen;
  text-decoration: none;
  text-align: center;
  padding: .6rem;
  width: 90%;
  max-width: 380px;
  border-radius: 5px;
  margin: 2rem 0 2rem;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, .8);
  transition: all 300ms;

  &:hover {
    color: $clWhiteText;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, .5);
    //transform: scale(1.03);
    //margin-top: 5px;
  }

  &:active {
    color: $clWhiteText;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, .8);    
    transition: all 100ms;
  }
}


.bg-img {
  display: block;
  position: absolute;
  background-size: contain !important;
}  

.logo {
  z-index: 3;
}

.arm {
  z-index: 2;
}

.sleeve {
  z-index: 1;
}


.social {
  font-size: 2.5rem;
  margin: 0;

  a {
    color: $clBlackText;
    text-decoration: none;
  }

  a:hover {
    color: $clWhiteText;
  }

}

@keyframes lookOutside {
  from {
    transform: translateX(-85%);
  }
  50% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-85%);
  }
}

.goto-top {
  position: fixed;
  left: 0;
  top: 85%;
  padding: .5rem 1rem;
  cursor: pointer;
  color: $clWhiteText;
  background-color: $clBlackText;
  opacity: 0;
  transition: all 500ms;
  z-index: 5;
  transform: translateX(-85%);

  &.visible {
    opacity: .7;
    animation: lookOutside  2s ease-in-out;
  }

  &:hover {
    opacity: 1;
    transform: translateX(0);
  }
}

// СТИЛИ ЗАГОЛОВКА
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 

// верхняя часть страницы с заголовком и рукой
.head-row {

  min-height: 420px; // высота заголовка страницы

  // выравнивает h1 по центру по вертикали 
  .head-text {
    position: absolute;
    top: 50%;
    left: 0;
    max-width: 330px;
    transform: translate(0, -50%);  
  }

  h1 {
    color: white;
    margin: 0;
    padding: 0;
  }

} // .head-row


// верхнее меню навигации
.head-nav {

  ul {
    padding: 1.1rem 0;
  }

  a {
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
  }

  li.active a {
    color: $clBlackText;
  }

} // .head-nav


// СТИЛИ ФУТЕРА
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 

footer {
  overflow: hidden;
  clear: both;

  a {
    text-decoration: none;
  }

  h2 {
    color: white;
  }

  .adress {
    //color: $whiteText;
    padding-top: 0.5em;
    margin: 0;
  }

  // руки с чашкой кофе
  .cofe.arm {
    @extend .bg-img;
    background: url($pathCofeArm) right bottom no-repeat;
    bottom: 25%;
    right: -10%;

    height: 100%;
    width: 30%;
  }

  // рукава для рук с кофе
  .cofe.sleeve {
    @extend .bg-img;
    background: url($pathCofeSleeve) left bottom repeat-x;
    bottom: 143px;
    left: 110%;
    
    height: 162px;
    width: 500%;
  }

  .cake.arm {
    @extend .bg-img;
    background: url($pathCakeArm) left bottom no-repeat;
    bottom: -10%;
    left: 0;
    
    height: 100%;
    width: 20%;
    max-width: 170px;
  }

} // footer



