/* MEDIA STYLES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


// СРЕДНИЕ ЭКРАНЫ
@media only screen and (max-width : 900px ) {
  
  html {
    font-size: 14px;
  }

  .page-studio, .page-faq {
    
    .head-row {
      .arm {
        left: 350px; // не налазим на логотип
      }

      .sleeve {
        left: 850px; // равно arm left + width
      }
    }

  } // .page-studio

}


// МАЛЕНЬКИЕ ЭКРАНЫ
@media only screen and (max-width : 655px) {

  html {
    font-size: 12px;
  }

  .desktop {
    display: none;
  }

  .tablet {
    display: block;
  }

  // прячем картинки руки и рукава в заголовке
  .head-row {
    min-height: 200px;

    .head-text {
      max-width: 100%;
      width: 100%;
      text-align: center; 
    }
  }

  i.arm, i.sleeve {
    display: none !important; 
  }


  // уменьшаю логотип 
  .page-studio .logo {
    max-width: 250px;
  }

  
  // на маленьких устройствах
  // выводим меню столбиком и по центру?
  .head-nav {
    ul {
      text-align: center;
    }

    li {
      //display: block;
    }

  }

  // делаем текст на ширину основного контейнера
  .center-text-wrapper,
  .text-wrapper {
    margin-left: 5%;
    width: 90%;
  }

} // для маленьких устройств