/* MEDIA STYLES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


// СРЕДНИЕ ЭКРАНЫ
@media only screen and (max-width : 900px ) {
  
  html {
    font-size: 14px;
  }

}


@media only screen and (max-width : 830px ) {
  .page-studio {
    
    .head-banner {
      .arm {
        left: 354px; // не налазим на логотип
      }

      .sleeve {
        left: 634px; // равно arm left + width
      }
    }

  } // .page-studio

}


@media only screen and (max-width : 850px ) {
  .page-faq {
    
    .head-banner {
      .arm {
        left: 303px; 
      }

      .sleeve {
        left: 803px; // равно arm left + width
      }
    }

  } // .page-studio

}


@media only screen and (max-width : 800px ) {
  .page-contacts {
    
    .head-banner {
      .arm {
        left: 256px; 
      }

      .sleeve {
        left: 756px; // равно arm left + width
      }
    }

  } // .page-studio

}

// МАЛЕНЬКИЕ ЭКРАНЫ
@media only screen and (max-width : 655px) {

  html {
    font-size: 12px;
  }

  .desktop {
    display: none;
  }

  .tablet {
    display: block;
  }

  // прячем картинки руки и рукава в заголовке
  .head-banner {
    min-height: 200px;

    .head-title {
      max-width: 100%;
      width: 100%;
      text-align: center; 
    }
  }

  i.arm, i.sleeve {
    display: none !important; 
  }


  // уменьшаю логотип 
  .page-studio .logo {
    max-width: 250px;
  }

  
  // на маленьких устройствах
  // выводим меню столбиком и по центру?
  .head-nav {
    ul {
      text-align: center;
    }

    li {
      //display: block;
    }

  }

  // делаем текст на ширину основного контейнера
  .center-text-wrapper,
  .text-wrapper {
    margin-left: 5%;
    width: 90%;
  }

  // фотографии входа в студию на всю ширину экрана
  .page-contacts .studio-photo {
    img:first-of-type {
      padding-top: 1.5rem;
    }

    img:last-of-type {
      padding-bottom: 1.5rem;
    }

    img {
      box-sizing: padding-box;
      padding: .7rem;
      width: 100%;
    }
  }

} // для маленьких устройств