/* STUDIO STYLES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.page-studio {

  // заголовки главной
  h2 {
    color: rgba($clStudioHeader, .8);
  }

  nav, footer {
    background-color: $bgStudioFooter;
  }

  // СТРОКА ЗАГОЛОВКА
  // на главной не показываем заголовок h1 
  // вместо заголовка показываем логотип
  header {
    h1 {
      display: none;
    }

    // логотип студии - показываем только на главной
    .logo {
      @extend .bg-img;
      background: url($pathLogo) left center no-repeat;
      left: 0;

      height: 100%;
      width: 330px;
    }

    // рука на широких экранах
    // прижимается правым краем к правому краю wrappera
    // и при ресайзе движется вместе с ним
    .arm {
      @extend .bg-img;
      background: url($pathLampArm) right center no-repeat;
      right: -5%;

      height: 100%;
      width: 500px;
    }

    // рукав на широких экранах 
    // прижимается левым краем к правому краю wrappera
    // и получается как бы продолжением руки.
    // Размеры и верхний отступ надо подбирать.
    .sleeve {
      @extend .bg-img;
      background: url($pathLampSleeve) left center repeat-x;  
      left: 105%;
      top: 237px;
      
      height: 68px;
      width: 500%;
    }
  } // .head-row


  // ЧЕМ МЫ ЗАНИМАЕМСЯ?
  .services {
    background-color: $bgStudioServices;

    .arm {
      @extend .bg-img;
      background: url($pathLipstickArm) left top no-repeat;
      left: -2%;
      top: 5%;

      height: 100%;
      width: 20%;
      max-width: 150px;
      
    }

    .sleeve {
      @extend .bg-img;
      background: url($pathLipstickSleeve) left top repeat-y;
      top: 0;
      left: -2%;

      height: 5%;
      width: 20%;
      max-width: 150px;
    }

  } // .services


  // НАШИ РАБОТЫ 
  .portfolio {
    .btn {
      background-color: $bgStudioBtnPortfolio;
    }

    // цвет фона magicwall
    .magicwall-grid, 
    .magicwall li .hover-content {
      background-color: $bgStudioMagic;
    }

    // цвет кнопок magicwall
    .magicwall li .hover-content .btn {
      background: $bgStudioBtnMagic;
    }

  } // .portfolio


  // СКОЛЬКО ЭТО СТОИТ?
  .prices {
    background-color: $bgStudioPrices;

    .arm {
      @extend .bg-img;
      background: url($pathCoinArm) right bottom no-repeat;
      bottom: 5%;
      right: -2%;

      height: 100%;
      width: 20%;
      max-width: 150px;
    }

    .sleeve {
      @extend .bg-img;
      background: url($pathCoinSleeve) right bottom repeat-y;
      bottom: 0;
      right: -2%;

      height: 6%;
      width: 20%;
      max-width: 150px; 
    }

    .btn {
      background-color: $bgStudioBtnPrices;
    }

  } // .prices


  // ХОТИТЕ ДЕШЕВЛЕ?
  .promo {
    .btn {
      background-color: $bgStudioBtnPromo;
    }
  } // .promo
  
}
