
// разные картинки
$pathLogo          : "../img/other/logo.svg";
$pathPresswall     : "../img/other/presswall.png";
$pathHandle        : "../img/other/handle.png";
$pathLoading       : "../img/other/loading.gif";

// руки
$pathLampArm       : "../img/arm/lamp-arm.png";
$pathLampSleeve    : "../img/arm/lamp-sleeve.png";
$pathLipstickArm   : "../img/arm/studio-services-arm.png";
$pathLipstickSleeve: "../img/arm/studio-services-sleeve.png";
$pathCoinArm       : "../img/arm/studio-prices-arm.png";
$pathCoinSleeve    : "../img/arm/studio-prices-sleeve.png";
$pathCofeArm       : "../img/arm/cofe-arm.png";
$pathCofeSleeve    : "../img/arm/cofe-sleeve.png";
$pathCakeArm       : "../img/arm/cake-arm.png";
$pathPointArm      : "../img/arm/point-arm.png";



// цвета логотипа
$logoGreen  : #8cbeb3;
$logoYellow : #fce2c2;


// основные цвета страниц
$bgPageGray : hsl(0, 0%, 96%);                // светло серый
$bgPageBlue : #7ab1d6;                        // голубой
$bgPageGreen: #258282;                        // темно-зеленый
$bgPagePink : #e27584;                        // розовый


// цвет текста
$clBlackText     : rgba(#425864, .7);         // темный цвет текста
$clWhiteText     : rgba(white, .7);           // светлый цвет текста
$clBlueText      : rgba($bgPageBlue, .7);     


// цвета на главной странице
$clStudioHeader      : rgba($bgPageGreen, .8); // цвет текста заголовка
$bgStudioFooter      : $logoGreen;   					 // цвет фона футера
$bgStudioServices    : //#e1eeeb;
                       rgba($logoGreen,  .4);  // цвет фона раздела "Чем мы занимаемся?"
$bgStudioPrices      : rgba($logoYellow, .8);  // цвет фона раздела "Сколько это стоит?"
$bgStudioMagic       : #9dc8be;                // цвет фона magicwall
$bgStudioBtnMagic    : $bgPageGreen;           // цвет фона кнопок magicwall
$bgStudioBtnPortfolio: $bgPageBlue;            // цвет кнопки "Смотреть портфолио"
$bgStudioBtnPrices   : $bgPageGreen;           // цвет кнопки "Бесплатная консультация"
$bgStudioBtnPromo    : $bgPagePink;            // цвет кнопки "Подписка на акции"


// цвета на странице портфолио
$clPortfolioHeader : rgba($bgPagePink, .8);   // цвет текста заголовка
$bgPortfolioFooter : $bgPagePink;             // цвет фона шапки и футера
$bgPortfolioOddSect: $bgPageGray;		          // цвет фона нечетных разделов
$bgPortfolioEvnSect: darken($bgPageGray, 5%); // цвет фона четных разделов
$bgPortfolioButtons: $bgPagePink;             // цвет фона кнопок 


// цвета на странице faq
$clFaqHeader       : rgba($bgPageGreen, .8);   // цвет текста заголовка
$bgFaqFooter       : $bgPageGreen;             // цвет фона шапки и футера
$bgFaqOddSect      : $bgPageGray;              // цвет фона четных разделов
$bgFaqEvnSect      : darken($bgPageGray, 5%);  // цвет фона четных разделов


// цвета на странице контакты
$clContactsHeader   : rgba($bgPageBlue, .8);   // цвет текста заголовка
$bgContactsFooter   : $bgPageBlue;             // цвет фона шапки и футера
