$logoGreen   : #8cbeb3;
$logoYellow  : #fce2c2;

$lightGray	 : hsl(0, 0%, 96%);  // светло-серый цвет фона

$textColor   : hsl(201, 34%, 39%);      // темно-синий цвет текста
$linkColor   : hsla(0, 0%, 100%, .8);  // белый цвет ссылок