$logoGreen   : #8cbeb3;
$logoYellow  : #fce2c2;

$lightGray	 : hsl(0, 0%, 96%);  // светло-серый цвет фона
$lightGreen  : #e1eeeb;
$darkGreen   : #258282;
$magicGreen  : #9dc8be;
$btnBlue     : #7ab1d6;
$btnGreen    : #258282;
$btnPink     : #e27584;
$lightYellow : rgba($logoYellow, .8);//#fae2cd;



$blueText    : rgba(#425864, .7);       // темно-синий цвет текста
$whiteText   : hsla(0, 0%, 100%, .7);  // белый цвет ссылок